@page { size: 32 28; }

/*div {
    hyphens:auto;
}*/

.titlepage ,.uncontracted-letters ,h1  { text-transform:uncontracted; 

}



:not(
    :lang(no)
    :lang(nb)
    :lang(nn)
    :lang(nob)
    :lang(non)
    :lang(nb_NO)
    :lang(nn_NO)
    ) {
       text-transform:uncontracted;
}


h4 {
	display: block;
	margin-top: 1;
	margin-left: 2;
	text-indent: 5;
}

h5 {
	display: block;
	margin-top: 1;
	margin-left: 2;
}

p {
	display: block;
	margin-left: 2;
	text-indent: 2;
	hyphens: auto;
}

imggroup { display: none; }
