
@page 
{ 
margin-bottom: 1;
margin-left: 2;
margin-right: 2;

@bottom-right 
{
content:  string(print-page , last);
}	
@bottom-center 
{
content: counter(page);
}

@left 
{
content: -obfl-marker-indicator(pagenum, '⠿');
}
} 

.pagebreak 
{

-obfl-marker: pagenum;
string-set: print-page '⠿'content();
}

                                
                         
